parameters:
    level: 7
    paths:
        - src
        - tests
    bootstrapFiles:
        - tests/bootstrap.php
    earlyTerminatingMethodCalls:
        Cake\Console\Shell:
            - abort
    ignoreErrors:
        - '#Construct empty\(\) is not allowed\. Use more strict comparison\.#'

includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/timeweb/phpstan-enum/extension.neon
